= render "layouts/intro"

%section.section#main
  .container
    .page-header
      %h2= link_to t('shared.back_list_html'), companies_path
    .row
      .span3
        = image_tag @event.image
      .span6.description
        %h1.name
          =@event.name
          %small
            (
            =@event.name_alt.presence ? @event.name_alt : ''
            )
        .thumbnail-filters
          - if @event.event_types.count>0
            %ul#filters
              %strong
                =t('.types')
              - @event.event_types.each_with_index do |type,index| 
                %li{:class => "#{(index == (@event.event_types.all.count-1)? 'last' : '')}"}
                  = type.name                 
        - if @event.description.presence                  
          %p.bio=@event.description
        %ul.icons
          - if @event.twitter.presence
            %li.twitter
              %i
              %a{:href => "http://twitter.com/#{@event.twitter}", :target => "_blank"} twitter
          - if @event.weibo.presence    
            %li.weibo
              %i
              %a{:href => "#{@event.weibo}", :target => "_blank"} weibo                            
          - if @event.website.presence    
            %li.website
              %i
              %a{:href => "#{@event.website}", :target => "_blank"} #{@event.website}

      .span3.sidebar
        - ppl = Person.all(:include => :events, :conditions => ["events.id = ?", @event.id])
        - if ppl.count>0            
          %h2=t('.go_there')
          %ul.people
            - ppl.each do |person|
              %li
                = link_to image_tag(person.image.small), person_path(person.id)
          %br{:clear => "all"}
        %br
        - if can? :update, @event
          %br
          = button_icon "Edit event", edit_event_path(@event), "edit"

%section.section#main.hidden-800
  .container
    .page-header
      %h2=t '.other'
    .row
      %ul.thumbnails.bordered.thumbnail-list
        - Event.all.sample(6).each do |event|    
          - if (event.id != @event.id)
            %li.span2.filter-designer
              %a{:href => event_path(:id => event.id)}
                %figure.thumbnail-figure
                  = image_tag(event.image)