= render "layouts/intro"
%section.section#main
  .container
    .page-header.thumbnail-filters
      %h1
        %i.icon-bookmark
        =t '.title' , :count => @companies.count
        %br
      %h1
        %small
      %ul#filters
        %strong
          =t('shared.filter')
          %li
            %a.active{"data-filter" => "all", :href  => "#"}=t 'shared.all'
        - CompanyType.all.each_with_index do |t,index| 
          %li{:class => "#{(index == (CompanyType.all.count-1)? 'last' : '')}"}
            %a{"data-filter" => "#{t.id}", :href => "#"} #{t.name}        
    %ul.thumbnails.bordered.thumbnail-list
      - @companies.each do |company| 
        - classes = "span3"
        - company.company_types.each do |type| 
          - classes = classes + " filter-#{type.id}"
        %li{ :class => "#{classes}"}         
          %a{:href => company_path(company.id)}
            %figure.thumbnail-figure
              - style = company.get_style.to_s
              %style{:type => "text/css"}
                = company.get_style
              = image_tag "#{company.image}", :id => "company" + company.id.to_s
              %figcaption.thumbnail-title
                %h3.companies
                  %span= company.name
                  - if company.title.presence
                    %small.hidden-480=company.title                      


      %li.span3.hidden-980
        %a{:href => new_company_path}
          %figure.thumbnail-figure
            %div#new
              %figcaption.thumbnail-title
                %h3
                  %span= t('.not_listed')
                  = link_to t('.add'), new_company_path, {:class =>"add btn btn-primary btn-large"}